html {
  height: 100%;
  width: 100%;
  color: #F0F0F0;
  background: #0A0A0A;
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background: linear-gradient(to bottom, #111213 0%, #222326 16%, #0a0b0f 78%, #0a0a0a 100%);
}

h1 {
  text-align: center;
}

div#content {
  width: 61.8%;
  background: #222324;
  margin-left: 17%;
  margin-top: 1%;
  border-radius: 10px;
  border: solid 2px #333;
  padding: 30px;
  padding-top: 15px;
  font-family: Arial;
  font-size: 110%;
}

.entry {
  background: #444444;
  padding: 2px;
  margin: 2px;
  color: #EEEEEE;
  font-family: Arial;
  font-size: 110%;
  width: 60px;
  text-align: center;
  border-radius: 3px;
  border: solid 1px;
  border-color: #555555;
}

table.formTable {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

th {
  width: 16.67%;
}

td.rowTitle {
  width: 27.5%;
  text-align: right;
}

td.rowField {
  width: 15%;
}

.griddle tr:nth-child(even) {
  background: #333333;
}

.griddle tr:nth-child(odd) {
  background: #292929;
}

.griddle thead tr:nth-child(odd) {
  background: #333333;
}

th {
  border-left: 1px #222;
  border-right: 1px #222;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}

td {
  border-left: 0px #222;
  border-right: 0px #222;
  margin-bottom: 0px;
  margin-top: 0px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
}

.red {
  background-color: #554444;
  border-color: #665555;
}

.green {
  background-color: #445544;
  border-color: #556655;
}

.blue {
  background-color: #444455;
  border-color: #555566;
}

button {
  background-color: #555;
  color: #EEEEEE;
  font-size: 110%;
  border: solid 1px #666;
  border-radius: 3px;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 5px;
  padding-bottom: 5px;
  cursor: pointer;
  transition: background-color 300ms ease-out;
}

button:hover {
  background-color: #444;
}

td.accept {
  width: 27.5%;
}
